PORT=5000
MONGO_URI=mongodb_connection_string
JWT_SECRET=jwt_secret

EMAIL_USER=official_email
EMAIL_PASS=password
CLIENT_URL=frontend_url

BANK_NAME=bank_name
ACCOUNT_NUMBER=account_nmbr
ACCOUNT_NAME=account_name
